@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
/* ----Geral--- */
body {
  font-family: 'Inter', sans-serif;
  max-width: 2560px;
}
section, footer {
  padding: 9.6rem;
}
p,
a {
  color: #667085;
}

/* ----header---- */
.header {
  padding: 1.8rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .nav {
  display: flex;
  width: 128rem;
  padding: 0px 3.2rem;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  width: 14.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  flex-shrink: 0;
}
.header .logo img {
  width: 2.7rem;
}
.header .nome-logo {
  color: #3A404E;
  font-size: 1.8rem;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.6rem;
}

.header ul li {
  display: flex;
  padding: 1rem 1.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.header ul .destaque-menu {
  border-radius: 0.8rem;
  border: 1px solid #8e2424;
  background: #8e2424;

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.header .destaque-menu a {
  color: #fff;
}

/* ----main---- */
.main {
  padding: 8rem;
}
/*  */
.section-sobre-nos h3:nth-child(1) {
  color: #8e2424;
  text-align: center;
}
.section-sobre-nos .texto-sobre-nos {
  padding-top: 3.6rem;
}

.section-sobre-nos .texto-sobre-nos h1 {
  margin: 2.4rem 0;
  font-size: 4.8rem;
  text-align: center;
}
.section-sobre-nos .texto-sobre-nos p {
  font-size: 2rem;
  text-align: center;
  margin: auto;
  width: 796px;
}

/* ----section-sobre-nos---- */
.section-sobre-nos .conquistas {
  display: grid;
  grid-template-areas: 'projetos colaboradores downloads review';
  gap: 0 3.2rem;
  margin: auto;
  padding-top: 10.7rem;
}

.section-sobre-nos .conquistas span {
  font-size: 6rem;
  color: #8e2424;
}
.section-sobre-nos .conquistas p {
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

.section-sobre-nos .conquistas .projetos-concluidos,
.section-sobre-nos .conquistas .colaboradores,
.section-sobre-nos .conquistas .downloads,
.section-sobre-nos .conquistas .review {
  width: 28rem;
  margin: auto;
}

.section-sobre-nos .conquistas .projetos-concluidos {
  grid-area: projetos;
}

.section-sobre-nos .conquistas .colaboradores {
  grid-area: colaboradores;
}
.section-sobre-nos .conquistas .downloads {
  grid-area: downloads;
}
.section-sobre-nos .conquistas .review {
  grid-area: review;
}

/* ----section-vagas---- */
/* .section-vagas {
  margin-top: 9.6rem;
} */
.section-vagas h3 {
  color: #8e2424;
  text-align: center;
}

.section-vagas h2 {
  font-size: 3.6rem;
  text-align: center;
  margin: 2rem 0;
}

.section-vagas p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 6.4rem;
}
.section-vagas .image-vagas img {
  border-radius: 2rem;
}

.section-vagas .vagas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6.4rem;
}
.section-vagas .vagas h4 {
  text-align: start;
}
/* ----section-vagas-design---- */
.vagas-disponiveis-design h3 {
  font-size: 2rem;
  color: #000;
  text-align: left;
  margin-bottom: 3.2rem;
}
.vagas-disponiveis-design .container-vagas-design {
  border: 1px solid #eaecf0;
  padding: 2.4rem;
  border-radius: 1.6rem;
  width: 76.8rem;
}
.vagas-disponiveis-design .container-vagas-design {
  margin-bottom: 2.4rem;
}
.vagas-disponiveis-design .container-vagas-design h4 {
  font-size: 1.8rem;
}

.vagas-disponiveis-design .container-vagas-design ul {
  display: flex;
  gap: 0 2.4rem;
  margin-top: 3.2rem;
}

.vagas-disponiveis-design .container-vagas-design li {
  font-size: 1.6rem;
}

/* ----section-vagas-software---- */
.vagas-disponiveis-software {
  margin-top: 6.4rem;
}

.vagas-disponiveis-software h3 {
  font-size: 2rem;
  color: #000;
  text-align: left;
  margin-bottom: 3.2rem;
}
.vagas-disponiveis-software .container-vagas-software {
  border: 1px solid #eaecf0;
  border-radius: 1.6rem;
  padding: 2.4rem;
  margin-bottom: 2.4rem;
  width: 76.8rem;
}

.vagas-disponiveis-software .container-vagas-software h4 {
  font-size: 1.8rem;
}

.vagas-disponiveis-software .container-vagas-software ul {
  display: flex;
  gap: 0 2.4rem;
  margin-top: 3.2rem;
}

.vagas-disponiveis-software .container-vagas-software li {
  font-size: 1.6rem;
}

/* ----section-vagas-software---- */

.section-colaborador {
  /* margin: 9.6rem 8rem; */
  background-color: rgb(253, 248, 248);
  padding: 6.4rem;
}
.section-colaborador h2 {
  font-size: 3.6rem;
}

.section-colaborador h2,
h3,
h4 {
  text-align: center;
}

.section-colaborador .texto-colaborador h3 {
  color: #8e2424;
  margin-bottom: 1.6rem;
}

.section-colaborador .avatar-colaborador img {
  width: 5rem;
  display: block;
  margin: auto;
}

.section-colaborador .avatar-colaborador {
  margin-top: 3.2rem;
}

.section-colaborador .avatar-colaborador h3 {
  font-size: 1.6rem;
  margin: 1.6rem 0 0.4rem;
}

.section-colaborador .avatar-colaborador h4 {
  font-size: 1.4rem;
  color: #667085;
}
/* ----footer---- */


footer header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  align-self: stretch;
}
footer header h2 {
  color:#101828;
  text-align: center;

  font-size: 3.6rem;
  font-weight: 600;
  line-height: 4.4rem; 
  letter-spacing: -0.72px;
}

footer header p {
  color: #667085;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
}

footer header address form {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

footer header address form input {
  display: flex;
  padding: 1.2rem 1.4rem 1.2rem 1.6rem;
  align-items: center;
  gap: 0.8rem;
  align-self: stretch;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  border-radius: 0.8rem;
  border: 1px solid #d0d5dd;
  background: #fff;

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
footer header address form button {
  display: flex;
  padding: 1.2rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #8e2424;
  background: #8e2424;
  color:#fff;
  font-size: 1.6rem;
  line-height: 2.4rem; 
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
}

footer .direitos-autorais {
  color: #98A2B3;
  text-align: center;
  margin-top: 3.2rem;
}